body {
  overflow-y: auto;
  font-family: "Helvetica";
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.fade-up.active {
  opacity: 1;
  transform: translateY(0);
}
